            <div class="row text-left">
                <div class="col-md-offset-4">
                    <h2>Try JQuiry UI Samples</h2>
                    <h4><b>Date: </b><input type="text" id="datepicker"></h4>
                    <h4><b>Spinner: </b><input type="text" id="spinner"></h4>
                </div>
            </div>
